.nav__item {
    background-color: #008966;
    flex: auto;
    text-align: center;
    transition: .2s;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #fff;
    text-decoration: none;

    &.active {
        background-color: #00bc8c;
    }
}
