.header {
    margin-bottom: 25px;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 15px;
        
    }

    &__logo {
        width: 200px;
        height: 55px;
    }

    &__score-block {
        color: #fff;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.171875rem;
        display: flex;
        align-items: center;
    }
}