.bird-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #303030;
    width: 100%;
    &__media {
        display: flex;
    }
    
    &__image {
        width: 200px;
        height: 155px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 2rem;
    }

    &__names {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-bottom: 12px;
    }

    &__rus-name {
        font-size: 1.40625rem;
        font-weight: 500;
        line-height: 1.2;
        padding: 7px 0;
        border-bottom: 1px solid #555;
    }

    &__lat-name {
        padding: 3px;
        border-bottom: 1px solid #555;
    }
    
    &__text-description {
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: left;
    }

    &__instruction {
        color: #fff;
    }
}
